@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  transition: background-color 0.2s ease, color 0.2s ease;
}

body::-webkit-scrollbar {
  width: 0.25em;
}

body::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-900;
}

body::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-600;
  border-radius: 4px;
}

.wrapper {
  max-width: 81ch;
  margin: 0 auto;
}

.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}
